<div class="element-item <%=post.ex %>">
    <div class="name"><%=post.title %></div>
    <img src= <%=post.image %> class="schilderij">
    <date class="datum">
        <div class="par">Artist:   </div><%=post.artist %>
    </date>
    <br>
    <date class="datum">
        <div class="par">Date:   </div><%=post.date %>
    </date>
    <br>
    <date class="datum">
        <div class="par">Dimensions:   </div><%=post.dim %>
    </date>
    <div class="data-filter prog">
        <div class="par">Dynasty:   </div><%=post.ex %>
    </div>
    <a href="/werken/<%=index %>" class="verder">View in detail -> </a>
</div>